<%= form_for @gun do |f| %>
<% if @beer.errors.any? %>
<h2> Errors </h2>
 <ul>
   <% berr.errors.full_messages.each do |message| %>
   <li> <%= message %></li>
   <% end %>
  </ul>
   <% end %>

   <%= f.label :name %>
   <%= f.text_field :name %>

   <%= f.label :manufacturer %>
   <%= f.float_field :manufacturer %>

   <%= f.label :caliber %>
   <%= f.float_field :caliber %>

   <%= f.submit %>

   <%= link_to "Cancel", beers_path %>
